Package: himalaya
Version: version
Architecture: arch
Maintainer: wcbing <i@wcbing.top>
Section: mail
Priority: optional
Homepage: https://github.com/pimalaya/himalaya
Description: CLI to manage emails, based on email-lib
  Multi-accounting configuration
    interactive via wizard (requires `wizard` feature)
    manual via TOML-based configuration file
      (see https://github.com/pimalaya/himalaya/blob/master/config.sample.toml)
  Message composition based on `$EDITOR`
  IMAP backend (requires `imap` feature)
  Maildir backend (requires `maildir` feature)
  Notmuch backend (requires `notmuch` feature)
  SMTP backend (requires `smtp` feature)
  Sendmail backend (requires `sendmail` feature)
  Global system keyring for secret management (requires `keyring` feature)
  OAuth 2.0 authorization flow (requires `oauth2` feature)
  JSON output via `--output json`
  PGP encryption
    via shell commands (requires `pgp-commands` feature)
    via [GPG](https://www.gnupg.org/) bindings (requires `pgp-gpg` feature)
    via native implementation (requires `pgp-native` feature)